{% extends "dashboard/master.html" %}

{% block content %}
<table class="tasks-table">
  <tbody>
    <tr>
      <td colspan="2" class="top-actions">
        <a href="{{ url_for('tasks.create') }}" class="link-nova-tarefa">+ Nova tarefa</a>
      </td>
    </tr>

    {% for t in tasks %}
      <tr>
        <td class="task-name">{{ t }}</td>
        
        <td class="task-actions-cell">
          <form class="actions-inline">
            <button type="submit"
                    class="btn btn-update"
                    formaction="{{ url_for('tasks.update', id=loop.index0) }}"
                    formmethod="GET">
                Update
            </button>

            <button type="submit"
                    class="btn btn-delete"
                    formaction="{{ url_for('tasks.delete', id=loop.index0) }}"
                    formmethod="POST">
                Delete
            </button>
          </form>
        </td>
      </tr>
    {% else %}
      <tr><td colspan="2" class="empty-list">A lista está vazia.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}