{% extends "dashboard/master.html" %}

{% block content %}
  <h2>Atualizar Task #{{ id }}</h2>

  <form method="POST" action="{{ url_for('taskRoute.update', id=id) }}">
    <label for="task_name">Nome:</label>
    <input type="text" 
           id="task_name" 
           name="task" 
           value="{{ task }}" 
           required 
           autofocus>
    
    <button type="submit">Guardar</button>
    <a href="{{ url_for('taskRoute.list') }}">
        <button type="button">Cancelar</button>
    </a>
  </form>

  <hr>
  <p><a href="{{ url_for('taskRoute.list') }}">Voltar à lista principal</a></p>
{% endblock %}